html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* === Font Color === */
  --grey: #b4b4b4;
  --white: #e3e2df;
  --red: #ff0000;
  --black: #000000;
}

body a {
  text-decoration: none;
}

/* === Navigation Bar === */
.header {
  position: fixed;
  inset: 0px 0px;
  height: fit-content;
  padding: 15px 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #300dbb;
  z-index: 99;
}
.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
}
.navbar a {
  color: #ffffff;
  margin-left: 50px;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar a:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu-icon {
  color: white;
  font-size: 2rem;
  display: none;
}

/*=== Home Section ===*/

.home-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--black);
  gap: 5%;
  padding: 6.3% 0%;
}

.intro {
  flex-basis: 700px;
  margin: 70px 20px 0px 20px;
}

.jtag {
  padding: 10px;
  flex-basis: 500px;
}

.greet {
  font-size: 2.7rem;
  margin-bottom: 0.5%;
  color: white;
}

.name {
  font-size: 3.7rem;
  margin-bottom: 1%;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1%;
}

.note {
  font-size: 1.1rem;
  margin-bottom: 5%;
  color: grey;
}

.intro button {
  margin: 1% 0% 3% 0;
}

.linkedin-button,
.github-button,
.resume-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 100px;
  color: white;
  background-color: #000000;
  border: 2px solid rgba(128, 128, 128, 0.149);
  transition: all 0.2s ease-in-out;
}

.resume-button:hover,
.linkedin-button:hover,
.github-button:hover {
  cursor: pointer;
  box-shadow: 0.2px 0px 15px #8131ea90;
  transform: translateY(-2px);
}

/*=== About Section ===*/

.about {
  height: auto;
  background-color: black;
}

.about-title {
  padding-top: 70px;
  text-align: center;
}

.sub-title {
  padding: 10px 0px;
  font-size: 1rem;
  text-align: center;
  color: orange;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5%;
}

.profile-section {
  flex-basis: 340px;
}

.profile-left {
  height: fit-content;
  border-radius: 20px;
  margin: 12% 0% 5% 0%;
  background-color: #ffffff07;
  /*  border: 3px solid rgba(128, 128, 128, 0.171); */
  box-shadow: 1px 1px 2px #ffffff2b, -1px -1px 2px #ffffff2b;
  color: white;
  display: grid;
  grid-template-columns: 80px 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.aboutme-right {
  flex-basis: 600px;
  height: fit-content;
  padding: 1%;
  margin: 2% 0% 2% 12%;
}

.aboutme-right h2 {
  font-size: 2rem;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proimg img {
  padding: 2px;
  border-radius: 100px;
}

.availstatus {
  padding: 5px 5px 5px 15px;
  font-size: 1.2rem;
  line-height: 1.7;
}

.now {
  padding: 2px 7px;
  border-radius: 5px;
  background-color: #00ff66bd;
  color: white;
}

.count-section {
  width: 350px;
  background-image: linear-gradient(to bottom, #11998e, #38ef7d);
  border-radius: 20px;
  margin: 2% 0%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
}

.count-sub-section {
  text-align: center;
  line-height: 1.3;
}

.count-sub-section h2 {
  font-size: 1.7rem;
  color: white;
}

.count-sub-section p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.edu {
  padding: 10px 0px;
}

.deg {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

.class {
  color: grey;
  padding: 5px 0px;
  font-size: 1.2rem;
}

.mark {
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  font-size: 1.5rem;
}

.college-activities {
  color: grey;
}

.act-list {
  font-size: 1.3rem;
  padding: 5px 0px;
}

.h3 {
  font-size: 1.3rem;
  padding: 5px 0px;
  color: white;
}

/*=== Skills Section ===*/

.skill-section {
  height: auto;
  background-color: black;
  padding: 10px;
}

.sub-title {
  padding: 10px 10px;
  font-size: 1rem;
  text-align: center;
  color: orange;
}

.skills-list {
  width: auto;
  /*  border: 2px solid white; */
  margin: 2% 7%;
}

.tech-top {
  width: auto;
  /*  border: 2px solid white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around;   for phone */
}

.tech {
  min-width: 290px;
  height: 90px;
  margin: 1.5% 1.5% 1.5% 0%;
  background-color: #ffffff07;
  box-shadow: inset 0.1px 0.1px 5px rgba(255, 255, 255, 0.229);
  border-radius: 15px;
  border: none;
  display: grid;
  grid-template-columns: 60px 1fr;
  font-size: 1.2rem;
  align-items: center;
}

.tech-img {
  width: 80px;
  padding: 10px 15px;
}

.tech strong {
  font-size: 1.3rem;
  color: white;
}

.tech p {
  padding: 2px 30px;
}

.ab-note {
  color: grey;
}

/* ===Projects=== */

.project-section {
  background-color: black;
}

.h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.project-title h1 {
  padding-top: 70px;
  text-align: center;
  color: white;
}

.project-column {
  margin: 10px 10px 0px 10px;
  height: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.column {
  width: 370px;
  height: 450px;
  margin: 15px;
  flex-basis: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0.1px 0.1px 5px rgba(255, 255, 255, 0.308);
  border: none;
  border-radius: 20px;
  padding: 13px;
  display: grid;
  grid-template-rows: 300px repeat(4, autofit);
  grid-template-columns: auto;
  transition: all 0.3s ease;
}
.column:hover {
  transform: translateY(-15px);
}

.project-image img {
  border-radius: 10px;
  border: none;
}

.project-heading {
  color: white;
  padding: 3px 0px;
  font-size: 1.3rem;
}

.project-about {
  color: #a3a3a3;
  text-align: justify;
  padding: 3px 0px;
}

.skills-tab {
  margin: 7px 0px;
}

.skills-tab span {
  margin: 0px 5px 0px 0px;
  padding: 4px 5px;
  background-image: linear-gradient(to bottom, #0f7970, #27d56a);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.view-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 5px 0px 0px 0px;
}

.view-links button {
  padding: 5px 42px;
  background-color: #ffffff;
  color: black;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/*=== Contact Me ===*/

.contact {
  background-color: #000000;
  height: auto;
  width: 100%;
}

.contact-title h1 {
  padding: 70px 0px 0px 0px;
  text-align: center;
  color: white;
}

.sub-title {
  padding: 10px 10px;
  font-size: 1rem;
  text-align: center;
  color: orange;
}

.col-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.col-left,
.col-right {
  flex-basis: 330px;
  height: auto;
  margin: 2% 3%;
  padding: 2% 2%;
}

.label {
  color: white;
}

.h2 {
  font-size: 2rem;
  padding: 5px 0px;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social i {
  font-size: 2rem;
  color: white;
  padding: 3px 4.5px 2px 4.5px;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
}

.social .fa-linkedin-square:hover {
  color: #036eb0;
  background-color: white;
}

.social .fa-github:hover {
  color: darkviolet;
  background-color: white;
}

.contact-list,
.contact-links {
  list-style: none;
  font-size: 1.3rem;
  padding: 0px 0px 10px 0px;
  color: white;
}

.label {
  width: 80px;
  padding: 5px 0px;
  font-size: 1.3rem;
  display: inline-block;
}

.user-input {
  width: 210px;
  height: 30px;
  margin: 5px 0px;
  padding: 3px 5px;
  outline: none;
}

input,
textarea {
  background-color: #000000;
  border: 1px solid grey;
  color: white;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.txtarea {
  padding: 10px 0px 0px 10px;
  width: 305px;
  height: 120px;
}

.submitbtn {
  margin: 10px 0px;
  padding: 5px 20px;
  font-size: 1rem;
  color: white;
  background-color: #000000;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  cursor: pointer;
}

.submitbtn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

/* ===Footer=== */

footer {
  background-color: #300dbb;
  padding: 7px 0px;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* ================= Media Query for 950px ================= */

@media (max-width: 950px) {
  #menu-icon {
    display: block;
  }
  .header {
    background-image:linear-gradient(to bottom right, #0505a7, rgb(134, 7, 188));
    border-bottom: none;
    padding: 10px 30px;
  }
  .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 35px;
    background-color:white;
  }
  .navbar a {
    display: block;
    margin: 20px 0px;
    text-align: right;
    color: black;
  }
  .navbar.active {
    display: block;
  }
  .navbar a:active {
    color: #a3a3a3;
  }
}
/* ================= Media Query for 450px ================= */

@media (max-width: 450px) {
  /*====== Home  ======*/
  .intro {
    flex-basis: 700px;
    margin: 160px 30px 30px 30px;
  }
  .greet {
    font-size: 2rem;
    color: transparent;
   -webkit-text-stroke:0.7px white ;

    }
  .name {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
  .note ,.role{
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 30px;
  }
  .linkedin-button,
  .github-button,
  .resume-button {
    padding: 7px 12px;
    font-size: 1rem;
  }
  /*====== About =======*/
  .deg {
    font-size: 1.12rem;
  }
  .class,
  .h3,
  .act-list {
    font-size: 1rem;
  }
  .mark {
    font-size: 1.12rem;
  }
  .aboutme-right {
    margin: 2% 4% 2% 4%;
  }

  /*====== Contact ======*/
  .h1 {
    font-size: 2rem;
  }
  .sub-title {
    font-size: 0.7rem;
  }
  .h2 {
    font-size: 1.3rem;
  }
  .contact-links {
    font-size: 1rem;
  }
  .col-left,
  .col-right {
    margin: 7px 5px;
    padding: 10px 10px;
  }
  .label {
    font-size: 1rem;
    width: 50px;
  }
  .user-input {
    width: 250px;
  }
  .submitbtn {
    font-size: 1rem;
  }

  /*====== Footer ======*/
  .footer {
    font-size: 0.7rem;
  }
}
