html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* === Font Color === */
  --grey: #b4b4b4;
  --white: #e3e2df;
  --red: #ff0000;
  --black: #000000;
}

body a {
  text-decoration: none;
}

/* ====== Common classes ======*/


.h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-top: 80px;
}

.sub-title {
  padding: 10px 10px;
  font-size: 1rem;
  text-align: center;
  color: orange;
}

/* === Navigation Bar === */
.header {
  position: fixed;
  inset: 0px 0px;
  height: fit-content;
  padding: 15px 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #300dbb;
  z-index: 99;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar a {
  color: #ffffff;
  margin-left: 50px;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar a:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-icon {
  color: white;
  font-size: 2rem;
  display: none;
}

/*=== Home Section ===*/

.home-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  gap: 5%;
  padding: 6.3% 0%;
}

.intro {
  flex-basis: 700px;
  margin: 70px 20px 0px 20px;
}

.jtag {
  padding: 10px;
  flex-basis: 500px;
}

.greet {
  font-size: 2.7rem;
  margin-bottom: 0.5%;
  color: transparent;
  -webkit-text-stroke: 0.7px white;
}

.name {
  font-size: 3.7rem;
  margin-bottom: 1%;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1%;
}

.note {
  font-size: 1.1rem;
  margin-bottom: 5%;
  color: grey;
}

.intro button {
  margin: 1% 0% 3% 0;
}

.linkedin-button,
.github-button,
.resume-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 100px;
  color: white;
  background-color: #000000;
  border: 2px solid rgba(128, 128, 128, 0.149);
  transition: all 0.2s ease-in-out;
}

.resume-button:hover,
.linkedin-button:hover,
.github-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, blue, violet);
  color: white;
  border: 2px solid darkviolet;
  transform: translateY(-2px);
}

/*=== About Section ===*/

.about {
  height: auto;
  background-color: black;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5%;
}

.profile-section {
  flex-basis: 340px;
}

.profile-left {
  height: fit-content;
  border-radius: 20px;
  margin: 12% 0% 2% 0%;
  background-color: black;
  box-shadow: inset 1px 1px 7px #ffffff35;
  color: white;
  display: grid;
  grid-template-columns: 80px 1fr;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.aboutme-right {
  flex-basis: 610px;
  height: fit-content;
  padding: 1%;
  margin: 1% 0% 1% 12%;
}

.aboutme-right h2 {
  font-size: 2rem;
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proimg img {
  padding: 2px;
  border-radius: 100px;
}

.availstatus {
  padding: 5px 5px 5px 15px;
  font-size: 1.2rem;
  line-height: 1.7;
}

.now {
  padding: 2px 7px;
  border-radius: 5px;
  background-color: #00ff66bd;
  color: white;
}

.count-section {
  width: 350px;
  box-shadow: inset 1px 1px 7px #ffffff0f;
  background-image: linear-gradient(to bottom, #0c0a0a, rgb(15, 15, 15));
  border-radius: 20px;
  margin: 2% 0%;
  padding: 18px 10px;
  display: flex;
  justify-content: space-around;
}

.count-sub-section {
  text-align: center;
  line-height: 1.3;
}

.count-sub-section h2 {
  font-size: 1.7rem;
  color: white;
}

.count-sub-section p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}

.proline {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.whatido {
  background-image: linear-gradient(to bottom right, #c4051c, #EA384D);
  border-radius: 20px;
  height: 230px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.do-title {
  text-align: center;
  color: white;
  padding: 7px;
}

.doline {
  border: 1px dotted white;
}

.whatido ul {
  padding: 10px 20px;
  text-align: justify;
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 500;
  color: whitesmoke;
}

.edu {
  padding: 10px 0px;
}

.deg {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

.class {
  color: grey;
  padding: 5px 0px;
  font-size: 1.2rem;
}

.mark {
  background-image: linear-gradient(to bottom right, blue, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  font-size: 1.5rem;
}

.college-activities {
  color: grey;
}

.act-list {
  font-size: 1.3rem;
  padding: 5px 0px;
}

.h3 {
  font-size: 1.3rem;
  padding: 5px 0px;
  color: white;
}

/*=== Skills Section ===*/

.skill-section {
  height: auto;
  background-color: black;
  padding: 10px;
}

.skills-list {
  width: auto;
  margin: 2% 7%;
}

.tech-top {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech {
  width: 290px;
  height: 90px;
  margin: 1.5% 1.5% 1.5% 0%;
  background-color: black;
  box-shadow: inset 1px 1px 7px #ffffff35;
  border-radius: 15px;
  border: none;
  display: grid;
  grid-template-columns: 60px 1fr;
  font-size: 1.2rem;
  align-items: center;
}

.tech-img {
  width: 80px;
  padding: 10px 15px;
}

.s-note {
  font-size: 1.3rem;
  color: white;
}

.tech p {
  padding: 2px 30px;
}

.ab-note {
  color: grey;
}

/* ===Projects=== */

.project-section {
  background-color: black;
}

.project-column {
  margin: 10px 10px 0px 10px;
  height: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.column {
  width: 330px;
  height: 445px;
  margin: 15px;
  border: none;
  box-shadow: inset .5px .5px 7px #ffffff7c;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  transition: all .2s ease-in-out;
}

.column:hover {
  transform: scale(1.05);
}

.project-image {
  width: 330px;
  height: auto;
  border: none;
  border-radius: 15px 15px 0px 0px;
}

.pro-title {
  font-size: 1.5rem;
  margin: 3px 15px;
}

.pro-brief {
  font-size: 1rem;
  color: #a3a3a3;
  text-align: justify;
  margin: 3px 15px;
}

.skills-tab {
  margin: 3px 15px;
}

.skills-tab span {
  margin-right: 5px;
  padding: 3px 7px;
  font-size: .8rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, red, rgb(255, 0, 106));
  border-radius: 5px;
}

.view-links {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.view-links button {
  padding: 5px 30px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: 2px solid #8080803b;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.view-links button:hover {
  background-image: linear-gradient(to bottom right, blue, violet);
  color: white;
  border: 2px solid darkviolet;
}

/* ======  Achievements ====== */

.certifi-container {
  background-color: black;
  height: fit-content;
  padding: 10px;
}

.certificates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;

}

.c-container {
  width: 330px;
  height: 430px;
  margin: 10px 0px;
  padding-bottom: 10px;
  border: none;
  box-shadow: inset .5px .5px 7px #ffffff7c;
  border-radius: 20px;

  display: grid;
  grid-template-rows: repeat(5, auto);
  transition: all .2s ease-in-out;
}

.c-container:hover {
  transform: scale(1.05);
}

.c-image {
  width: 330px;
  height: 233.4px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
}

.c-title {
  font-size: 1.23rem;
  margin: 3px 10px;
  color: white;
}

.c-about {
  font-size: 1rem;
  margin: 3px 10px;
  color: grey;
  text-align: justify;

}

.outcome {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;

}

.link {
  margin: 3px 10px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: 2px solid #8080803b;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  background-image: linear-gradient(to bottom right, blue, violet);
  color: white;
  border: 2px solid darkviolet;
}

/*=== Contact Me ===*/

.contact {
  background-color: #000000;
  height: auto;
  width: 100%;
}

.contact-title h1 {
  padding: 70px 0px 0px 0px;
  text-align: center;
  color: white;
}

.col-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.col-left,
.col-right {
  flex-basis: 330px;
  height: auto;
  margin: 2% 3%;
  padding: 2% 2%;
}

.label {
  color: white;
}

.h2 {
  font-size: 2rem;
  padding: 5px 0px;
  background-image: linear-gradient(to bottom right, rgb(0, 68, 255), violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social i {
  font-size: 2rem;
  color: white;
  padding: 3px 4.5px 2px 4.5px;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
}

.social .fa-linkedin-square:hover {
  color: #036eb0;
  background-color: white;
}

.social .fa-github:hover {
  color: darkviolet;
  background-color: white;
}

.contact-list,
.contact-links {
  list-style: none;
  font-size: 1.3rem;
  padding: 0px 0px 10px 0px;
  color: white;
}

.label {
  width: 80px;
  padding: 5px 0px;
  font-size: 1.3rem;
  display: inline-block;
}

.user-input {
  width: 210px;
  height: 30px;
  margin: 5px 0px;
  padding: 3px 5px;
  outline: none;
}

input,
textarea {
  background-color: #000000;
  border: 2px solid #8080803b;
  color: white;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.txtarea {
  padding: 10px 0px 0px 10px;
  width: 305px;
  height: 120px;
}

.submitbtn {
  margin: 10px 0px;
  padding: 5px 20px;
  font-size: 1rem;
  border: 2px solid #8080803b;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  background-color: #000000;
  cursor: pointer;
}

.submitbtn:hover {
  background-image: linear-gradient(to bottom right, blue, violet);
  color: white;
  border: 2px solid darkviolet;
}

/* ===Footer=== */

footer {
  background-image: linear-gradient(to bottom right, blue, rgb(149, 30, 204));
  padding: 7px 0px;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* ================= Media Query for 950px ================= */

@media (max-width: 950px) {
  #menu-icon {
    display: block;
  }

  .header {
    background-image: linear-gradient(to bottom right, black, rgb(23, 22, 22));
    border-bottom: 3px solid rgb(71, 31, 249);
    padding: 10px 30px;
  }

  .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 35px;
    background-color: white;
  }

  .navbar a {
    display: block;
    margin: 20px 0px;
    text-align: right;
    color: black;
  }

  .navbar.active {
    display: block;
  }

  .navbar a:active {
    color: #a3a3a3;
  }
}

/* ================= Media Query for 450px ================= */

@media (max-width: 450px) {

  /*====== Home  ======*/
  .intro {
    flex-basis: 700px;
    margin: 60px 30px 0px 30px;
  }

  .greet {
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.7px white;
  }

  .name {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }

  .note,
  .role {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 30px;
  }

  .linkedin-button,
  .github-button,
  .resume-button {
    padding: 7px 12px;
    font-size: 1rem;
  }

  /*====== About =======*/

  .availstatus {
    padding: 5px 5px 5px 15px;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  .count-sub-section h2 {
    font-size: 1.5rem;
  }

  .deg {
    font-size: 1.12rem;
  }

  .class,
  .h3,
  .act-list {
    font-size: 1rem;
  }

  .mark {
    font-size: 1.12rem;
  }

  .aboutme-right {
    margin: 2% 4% 2% 4%;
  }

  /*====== Skills =======*/
  .tech {
    height: 80px;
  }

  .tech p {
    padding: 2px 40px;
  }

  .s-note,
  .ab-note {
    font-size: 1rem;
  }

  /*====== Contact ======*/

  .h1 {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 0.7rem;
  }

  .h2 {
    font-size: 1.3rem;
  }

  .contact-links {
    font-size: 1rem;
  }

  .col-left,
  .col-right {
    margin: 7px 5px;
    padding: 10px 10px;
  }

  .label {
    font-size: 1rem;
    width: 50px;
  }

  .user-input {
    width: 250px;
  }

  .submitbtn {
    font-size: 1rem;
  }

  /*====== Projects ======*/
  .pro-title {
    font-size: 1.3rem;
  }

  .pro-brief {
    font-size: .9rem;
  }

  /*====== Footer ======*/
  .footer {
    font-size: 0.7rem;
  }
}

/* ================= Media Query for 370px ================= */

@media (max-width: 370px) {
  .jtag img {
    padding: 0px 30px;
    height: 280px;
  }
}